@using MVCSimpleCRM.ViewModels;
@model IndexTaskViewModel

@foreach (var item in Model.Tasks)
{
    <div class="card mb-4 box-shadow">
        @{
            switch (item.CreatorStatus)
            {
                case "UTW":
                    <div style="height: 10px; background-color: rebeccapurple; border-radius: 3px 3px 0 0;" id="CreatorStatusColor">
                    </div>
                    break;
                case "PRZ":
                    <div style="height: 10px; background-color: deepskyblue; border-radius: 3px 3px 0 0;" id="CreatorStatusColor">
                    </div>
                    break;
                case "WRZ":
                    <div style="height: 10px; background-color:darkorange; border-radius: 3px 3px 0 0;" id="CreatorStatusColor">
                    </div>
                    break;
                case "ZAK":
                    <div style="height: 10px; background-color:green; border-radius: 3px 3px 0 0;" id="CreatorStatusColor">
                    </div>
                    break;
            }
        }

        <div class="row">
            <div class="col-md-12">
                @{
                    switch (item.Status)
                    {
                        case "NZR":
                            <div class="col-md-1" style="width: 10px; float: left; display: flex; height: 100%; align-items:center; justify-content:center; background-color:red; border-radius: 0 0 0 3px;" id="StatusColor">
                            </div>
                            break;
                        case "WRZ":
                            <div class="col-md-1" style="width: 10px; float: left; display: flex; height: 100%; align-items:center; justify-content:center; background-color:darkorange; border-radius: 0 0 0 3px;" id="StatusColor">
                            </div>
                            break;
                        case "ZAK":
                            <div class="col-md-1" style="width: 10px; float: left; display: flex; height: 100%; align-items:center; justify-content:center; background-color:green; border-radius: 0 0 0 3px;" id="StatusColor">
                            </div>
                            break;
                    }
                }
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <p class="card-title">@item.Title</p>
                            <p class="card-text"> @item.Description</p>
                        </div>
                        <div class="col-md-3">
                            <p class="card-title">@item.DueDate</p>
                            <p class="card-title">Aktualizacja:</p>
                            <p class="card-title">@item.CreateDate</p>
                        </div>
                        <div class="col-md-1" style="">
                            <a type="btn" style="padding-right: 10px; padding-left:10px" class="btn btn-sm btn-outline-secondary" asp-controller="Tasks" asp-action="Detail" asp-route-id="@item.Id">Podgląd</a>
                            <button type="button" class="btn btn-sm btn-outline-secondary" style="width: 100px;">Kopiuj</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}